/* Erik Myer's CSS Reset
v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* Basic styles and typography */
body {
	background-color: black;
	color: #F9F4A8;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url(../images/bg_pattern.jpg);
	background-position: center top;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	color: #f7941e;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h6 {
	color: #FF9000;
	font-size: 15px;
	margin-bottom: 15px;
}

p {
	padding-bottom: 10px;
}

a {
	color: #fff;
}

small { 
	font-size: .8em; 
}

.smaller {
	font-size: .6em;
	font-weight: normal;
	line-height: 17px;
	
}

.left {
	float: left;
}
.right {
	float:right;
}

a.tbc, 
a:visited.tbc {
	font-family: georgia;
	color: white;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}

/* Header styles */
#header_image {
	background-image: url(../images/header.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#header_logo {
	margin: 15px 0px 0px 0px;
	float: left;
}

#header_right {
	float: right;
	width: 480px;
	padding: 50px 0 0 20px;
}

#header_right p {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
	line-height: 19px;
}

.header {
	height: 344px;
}

#navigation {
	width:960px;	
	clear:both;
	position:relative;
	top:-15px;
	left:20px;
}

#navigation a {
	display: block;
	width: 110px;
	height: 40px;
	float: left;
	background-image: url('../images/nav_image.png');
	background-repeat: no-repeat;
	background-position: left;
	text-decoration: none;
	padding: 20px 0 0 40px;
	color: #f7941e;
	font-weight: bold;
}

#navigation a:hover {
	color: #fff;
}

/* Home Layout */
.wrapper {
	width: 960px;
	margin: auto;
}

.container {
	min-height: 600px;
	background-image: url('../images/transparent.png');
}

#left_column {
	float: left;
	width: 600px;
}

#right_column {
	float: right;
	width: 350px;
}

#right_column_small {
	float: right;
	width: 220px;
}

#home_content {
	min-height: 450px;
}

#home_content h3,
#blog_page h3 {
	color: #fff;
}

.home .featured_post {
	padding: 20px 40px;
}

.home .theater {
	padding: 20px 40px;
}

.home .theater img.left {
	margin-right: 10px;
}

.side_content {
	padding: 20px;
}

.bottom {
/*	background-image: url(../images/bg_footer.jpg);
	background-position: top;*/
	padding: 30px;
}

.social {
	width: 235px;
	float: left;
	margin-top:-15px;
}
.social a {
	display: block;
	padding: 16px 0 16px 50px;
	border-bottom: 1px #540c03 solid;
	font-family: georgia;
	font-style: italic;
	text-decoration: none;
	color: #E7AA35;
	font-size: 18px;
	background-repeat: no-repeat;
	background-position: 5px 7px;
}
.facebook{
	background-image: url(../images/facebook_logo.jpg);
}
.twitter{
	background-image: url(../images/twitter_logo.jpg);
}
.youtube{
	background-image: url(../images/youtube_logo.jpg);
}


.location {
	float: left;
	width: 290px;
	margin: 0 50px;
	padding-left:35px;
}
#header-location {
	float: right;
	width: 220px;
	margin: 50px 0px 0px 170px;
}
#header-location p {
	font-size:12px;
	text-align:right;
}
.location p {
	margin-left: 5px;
	font-weight: bold;
	line-height: 15px;
}
.location img {
	border: 2px #540c03 solid;
}

.contact {
	float: left;
	width: 230px;
}
#subscriber_email {
	width: 130px;
}

#contact_links {
	margin-top: 20px;
}

.clear { clear: both; }

/* FPO Content */
.fpo {
	color: red;
}


/* Internal Page Layout */
.content {
	padding: 20px 40px;
	min-height: 350px;
}

.notice {
	background-color: #F9F4A8;
	color: #666;
	font-weight: bold;
	padding: 10px;
	border: 3px solid #E7AA35;
}

.latest_posts {
	font-size: .85em;
}

.latest_posts .post {
	margin-bottom: 20px;
}

.latest_posts h3 {
	color: #E7AA35;
}

.latest_posts h6 {
	margin: 0;
}

.latest_posts a {
	text-decoration: none;
	color: #F9F4A8;
}

.latest_posts h6 a {
	color: #f7941e;
}

.latest_posts a:hover {
	color: #fff;
}

.pub_date {
	display: block;
	margin-bottom: 5px;
	color: #bcbcbc;
}

.ui-event-info {
	font-size:10px;
	color:#fff;
	left: 0.5em;
	    margin-top: -12px;
	    position: absolute;
	    top: 50%;
		left:80%;
}
.featured_event {
	background:#333333;
	padding:15px 30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:40px;
}