body {
	background-color: white;
	background-image: none;
	color: black;
	margin: 0;
	padding: 0;
	width: 800px;
}

html {
	margin: 0;
	padding: 0;
	width: 800px;
}

h3.beer_name {
	color: black;
}
.beer, .beer-description {
	clear: both;
}

.beer-prices {
	clear: left;
	width: 390px;
}
.beer-prices td {
	width: 25%;
	text-align: center;
}

.beer {
	height: 80px;
	margin: 0;
}

.brewery {
	float: left;
	padding-bottom: 0;
}

#printer-friendly-beer-list {
	width: 800px;
}

.printer-friendly-beer-list-container {
	width: 390px;
	float: left;
	margin-right: 20px;
}

h2.beer_heading {
	color: white;
	padding-top: 3px;
	padding-left: 0;
	text-align: center;
	background-position: center top;
}

.last {
	margin-right: 0;
}
.page_break {
	page-break-after: always;
}