body {
	background-color: white;
	background-image: none;
	color: black;
	margin: 0;
	padding: 0;
	width: 800px;
}

html {
	margin: 0;
	padding: 0;
	width: 800px;
}

h3.beer_name {
	color: black;
}
.beer, .beer-description {
	clear: both;
}

.beer-prices {
	clear: left;
}
.beer-prices td {
	width: 50px;
}

.beer {
	height: 90px;
	margin: 0;
}

.brewery {
	float: left;
}

#printer-friendly-beer-list {
	width: 800px;
}

.printer-friendly-beer-list-container {
	width: 390px;
	float: left;
	margin-right: 20px;
}
.last {
	margin-right: 0;
}