body {
	background-color: white;
	background-image: none;
	margin: 0;
	padding: 0;
	width: 800px;
}

html {
	margin: 0;
	padding: 0;
	width: 800px;
}

#printer-friendly-beer-list-container {
	background-color: white;
	padding: 0;
	margin: 0;
	height: 1000px;
/*	-moz-column-count: 2;*/
	-moz-column-width: 380px;
	-moz-column-gap: 40px;
}

h1.beer-category-name {
	display: inline-block;
	width: 380px;
	height: 1.5em;
	padding-left:20px;
	padding-bottom:10px;
	padding-top: 3px;
	background:url('../images/printMenuHeadBG.png') no-repeat;
	color:#ffffff;
	-moz-background-size: 100%;
}

.beer {
	display: inline;
	width: 380px;
	color: black;
	font-size: 11px;
}

.beer_name {
	float: left;
	clear: left;
	margin-bottom: 3px;
	font-size: 10px;
	color: black;
}

.brewery {
	float: right;
/*	margin: 0 20px 0 0;*/
	clear: none;
	padding: 0;
	font-size: 10px;
	color: black;
}

.beer-description, .awards, .beer-nerd-stuff, .date-tapped {
	display: none;
}