h2 {
	color: #000;
}

.note,
.description {
	font-size: 10pt;
	color: #000;
	line-height: 1;
}

.column {
	width: 270px;
	margin: 0 20px;
}

.right2_col {
	width: 665px;
}

#menu {
	width: 980px;
	margin: 0;
	padding: 0;
}
.container {
	visibility:hidden;
}
body {
	background:none;
}
h2 {
	padding-left:10px;
	padding-bottom:10px;
	background:url('../images/printMenuHeadBG.png') no-repeat;
	color:#ffffff;
	-moz-background-size:265px;
}
#menu h4, .price {
 	color:#000000;
}
