.note,
.description {
	font-size: 10pt;
	color: #000;
	line-height: 1;
}

.column {
	width: 290px;
}

.column#left_col {
	margin-right: 80px;
}

#menu_container {
	margin: 0;
	padding: 0;
}

.container {
	visibility:hidden;
}

body {
	background:none;
}

h2 {
	line-height: 30px;
	padding-left:13px;
	background:url('../images/printMenuHeadBG.png') no-repeat;
	color:#ffffff;
	height: 38px;
	margin-top: 20px;
}

h4 {
	display: inline;
}

#menu_container h4, .price {
 	color:#000000;
}

.food_name_description {
	margin-left: 10px;
}

#legend {
	/*margin:0 auto;
	margin-top:30px;
	width:283px;
	height:116px;
	background:url('../images/legend.png') no-repeat;*/
}

.legend_icon {
	display: inline;
	position: relative;
	top: 5px;
	margin-right: -5px;
}