.note,
.description {
	font-size: 10pt;
	color: #000;
	line-height: 1;
}

.column {
	width: 268px;
}

.column#left_col {
	/*margin-right: 80px;*/
}

#menu_container {
	margin: 0;
	padding: 0;
}

.container {
	visibility:hidden;
}

body {
	background:none;
}

h2 {
	line-height: 30px;
	padding-left:13px;
	background:url('../images/printMenuHeadBG.png') no-repeat;
	color:#ffffff;
	height: 38px;
	margin-top: 20px;
}

h4 {
	display: inline;
}

#menu_container h4, .price {
 	color:#000000;
}

.food_name_description {
	margin-left: 10px;
}

#legend {
	display: block;
	float: left;
	width: 100px;
	border: 2px solid #000;
	padding: 3px;
	margin: 1100px 7px 0 7px;
}

#legend h3 {
	font-family: Copperplate, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

#legend p {
	font-size: 12px;
	color: #000;
}

.legend_icon {
	display: inline;
	position: relative;
	top: 5px;
	margin-right: -5px;
}